body {
  background-color: white;
  margin: 0;
  padding: 0;
}

.headman {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 2em;
  max-height: 15%;
  border-bottom: thin solid #ffffff67;
  background-color: rgba(0, 0, 130, 0.8);
  color: #fff;
}

.menu {
  width: 50%;
  height: auto;
  color: white;
  float: right;
  right: 0;
  padding: 10px;
}

.menu:hover {
  color: black;
}

.menu {
  overflow: hidden;
  position: relative;
}

.menu #myLinks {
  display: none;
}

.menu a {
  float: left;
  color: white;
  padding: 5px 25px;
  text-decoration: none;

  font-size: 23px;
}

.menu a.icon {
  float: right;
}

.menu a:hover {
  background-color: #cfcece;
  color: black;
}

.active {
  background-color: #0e5239;
  color: white;
}

.main-body {
  position: fixed;
  left: 0;
  height: 100%;
  width: 100%;
}

.photo {
  top: 0;
  left: 0;
  height: 100%;
  width: 40%;
}

.container-img {
  width: 540px;
  height: 88vh;
  margin-top: 2.8em;
}

img {
  width: 100%;
  height: 100%;
}

.intro {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 60%;
  padding: 15px;
}

.intro h1 {
  font-size: 60px;
  margin-bottom: 2px;
}

.intro h5 {
  font-size: 20px;
  margin-top: 0;
}

.resume {
  border: 1px black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  color: white;
  background-color: rgb(185, 185, 185);
}

a {
  text-decoration: none;
  color: #fff;
}

.footman {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 2em;
  max-height: 15%;
  border-top: thin solid #ffffff67;
  background-color: rgba(0, 0, 130, 0.8);
  color: #fff;
}

.myLinks {
  padding: 10px;
}

.myLinks a {
  margin-right: 40px;
}
